.blog {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  color: #333;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.blog > .image-container {
  aspect-ratio: 16/9;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.metadata span {
  color: #666;
  font-weight: 500;
  font-size: 0.8rem;
}

.blog-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: max(min(1.5rem, 2vw), 1.2rem);
}

.blog-title:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.blog > p {
  color: #999;
  font-weight: 600;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user .image-container {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.user p {
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .blog-title {
    font-size: 0.9rem;
  }
}
