.change-password-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.change-password-form label {
  font-weight: 600;
  color: #555;
}

.change-password-form input {
  padding: 0.5rem;
  border: solid 1px #ccc;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
}

.change-password-form input::placeholder {
  color: #aaa;
}

.change-password-form input:focus-visible {
  border-color: var(--blue-100);
}

.change-password-form .new-password {
  display: flex;
  margin-bottom: 0.5rem;
}

.change-password-form .new-password input {
  flex: 1;
  border-radius: 0.25rem 0 0 0.25rem;
  margin-bottom: 0;
}

.change-password-form .new-password button {
  background-color: #eee;
  border-radius: 0 0.25rem 0.25rem 0;
  border: solid 1px #ccc;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-password-form .actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.change-password-form .actions button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #f0f0f0;
  border: solid 1px #e0e0e0;
  font-weight: 650;
  font-size: 1rem;
  color: #333;
}

.change-password-form .actions button:hover {
  background-color: #e0e0e0;
  border-color: #d0d0d0;
}

.change-password-form .actions button:active {
  scale: 0.95;
}

.change-password-form .actions button[type="submit"] {
  background-color: var(--blue-100);
  color: white;
}

.change-password-form .actions button[type="submit"]:hover {
  background-color: var(--blue-200);
}
