.comment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.image-container {
  position: relative;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.details time {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.25rem;
}

.content {
  font-size: 0.9rem;
}

.details time {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.actions button {
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fafafa;
  border: solid 1px #ddd;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.actions button:hover {
  background-color: #eaeaea;
}

.actions button:active {
  scale: 0.95;
}

.details > button {
  width: fit-content;
  padding: 0.5rem 0;
  background-color: transparent;
  border: none;
  color: var(--blue-100);
  font-weight: 650;
}

.replies {
  border-left: solid 1px #eee;
  padding-left: 0.5rem;
  margin-left: 1.5rem;
}

/* ------------------------ MOBILE STYLES ----------------------------------- */

@media screen and (max-width: 640px) {
  .image-container {
    width: 2rem;
  }

  .replies {
    margin-left: 1rem;
  }
}
