.header {
  box-shadow: #efefef 0 1px 5px 1px;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
}

.nav-links-mobile {
  display: none;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-links a {
  padding: 0.5rem;
  display: block;
  color: #888;
  font-weight: 500;
}

.nav-links a.active {
  color: var(--blue-100);
}

.nav-links a:hover {
  color: var(--blue-100);
}

.right-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  width: 2rem;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.search-btn {
  padding-top: 0.4rem;
  background-color: transparent;
  border: none;
}

:is(.search-btn, .menu-btn) * {
  stroke: #666;
}

.search-btn:hover {
  transform: scale(1.1);
}

:is(.search-btn, .menu-btn):hover * {
  stroke: var(--blue-100);
}

.search-btn:active {
  transform: scale(1.05);
}

.auth-links {
  display: flex;
  gap: 1rem;
}

.auth-links a {
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.auth-links a.register {
  color: var(--blue-100);
  background-color: var(--light-blue-100);
  border: solid 1px var(--light-blue-200);
}

.auth-links a.login {
  border: solid 1px var(--blue-100);
  background-color: var(--blue-100);
  color: white;
}

.auth-links a.login:hover {
  background-color: var(--blue-200);
}

.auth-links a.register:hover {
  background-color: var(--blue-100);
  color: white;
}

.auth-links a:active {
  background-color: var(--blue-300);
}

/* ------------------------ MOBILE STYLES ----------------------------------- */

@media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .auth-links {
    display: none;
  }
  .header-container {
    width: 95%;
  }
}
