.hero {
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 560px;
  border-radius: 0.5rem;
  background-color: #eee;
  overflow: hidden;
  position: relative;
}

.blogpost {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blogpost.show {
  visibility: visible;
}

.overlay {
  background: linear-gradient(
    to top,
    #000000cc,
    #00000010,
    transparent,
    transparent
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  color: white;
}

.overlay > p {
  font-size: 14px;
  font-weight: 600;
  border: solid 1.5px white;
  padding: 0.35rem 0.7rem;
  border-radius: 999px;
  width: fit-content;
}

.overlay h3 {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}

.user {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.user img {
  border-radius: 50%;
  border: solid 2px #ccc;
}

.user .details h4 {
  font-size: 1rem;
  font-weight: 500;
}

.user .details p {
  font-size: 14px;
  color: #ccc;
  font-weight: 500;
}

.indicators {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.indicators > div {
  width: 8px;
  height: 8px;
  aspect-ratio: 1;
  background-color: transparent;
  border: solid 1px #aaa;
  border-radius: 50%;
}

.indicators > div.active {
  background-color: white;
  border-color: white;
}

@media screen and (max-width: 768px) {
  .overlay h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 640px) {
  .indicators {
    bottom: 1rem;
    left: 1rem;
  }

  .overlay {
    padding: 1.5rem 1rem 2rem;
  }

  .overlay > div {
    height: 6px;
    width: 6px;
  }

  .overlay h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .user {
    display: none;
  }
}
