.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container {
  animation: rotate 1s infinite linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
