.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form label {
  color: #666;
  font-weight: 500;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.login-form input {
  padding: 9px;
  border: solid 1px #ddd;
  border-radius: 0.25rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.actions a {
  text-decoration: underline;
}

.actions a:hover {
  color: var(--blue-100);
}

.actions p {
  color: #666;
}

.login-form button {
  background-color: var(--blue-100);
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
}

.login-form button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.login-form button:disabled:hover {
  background-color: #999;
}

.login-form button:hover {
  background-color: var(--blue-200);
}

.login-form button:active {
  scale: 0.95;
}

.error {
  color: var(--red-100);
  font-size: 14px;
}

/* ------------------------ MOBILE STYLES ----------------------------------- */
@media screen and (max-width: 640px) {
  .actions {
    flex-direction: column;
    align-items: stretch;
  }

  .login-form button {
    width: 100%;
  }
}
