.header-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--blue-100);
  color: #333;
  font-weight: 500;
  font-size: 1rem;
}

.logo img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0.25rem;
  aspect-ratio: 1;
}

.nav-links-mobile {
  display: none;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-links a {
  padding: 0.5rem;
  display: block;
  color: #222;
}

.nav-links a.active {
  color: var(--blue-100);
}

.nav-links a:hover {
  color: var(--blue-100);
}

.right-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  width: 2rem;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.search-btn {
  padding-top: 0.4rem;
  background-color: transparent;
  border: none;
}

:is(.search-btn, .menu-btn) * {
  stroke: #666;
}

.search-btn:hover {
  transform: scale(1.1);
}

:is(.search-btn, .menu-btn):hover * {
  stroke: var(--blue-100);
}

.search-btn:active {
  transform: scale(1.05);
}

.auth-links {
  display: flex;
  gap: 1rem;
}

.auth-links a {
  display: block;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--blue-100);
  background-color: white;
  border: solid 1px var(--light-blue-200);
}

.auth-links a:hover {
  background-color: var(--light-blue-100);
}

.auth-links a.active {
  border: solid 1px var(--blue-100);
  background-color: var(--blue-100);
  color: white;
}

.auth-links a.active:hover {
  background-color: var(--blue-200);
}

/* ------------------------ MOBILE STYLES ----------------------------------- */

@media screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .auth-links {
    display: none;
  }
  .header-container {
    width: 92.5%;
  }
}
