.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  width: min(20rem, 80%);
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding: 2rem 1rem;
}

.mobile-nav.open {
  transform: translateX(0);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--blue-100);
  color: #333;
  font-weight: 600;
}

.logo img {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.25rem;
  aspect-ratio: 1;
}

.subtitle {
  font-size: 0.9rem;
  color: #999;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mobile-nav-links a {
  padding: 0.5rem 0;
  display: block;
  color: #666;
  font-weight: 500;
}

.mobile-nav-links a.active {
  color: var(--blue-100);
}

.mobile-nav-links a:hover {
  color: #333;
}

.auth-links {
  display: none;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}

.auth-links a {
  font-weight: 500;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.auth-links a.signup {
  color: var(--blue-100);
  background-color: var(--light-blue-100);
  border: solid 1px var(--light-blue-200);
}

.auth-links a:is(.login, .profile) {
  border: solid 1px var(--blue-100);
  background-color: var(--blue-100);
  color: white;
}

.auth-links a:is(.login, .profile):hover {
  background-color: var(--blue-200);
}

.auth-links a.signup:hover {
  border: solid 1px var(--blue-100);
  background-color: var(--blue-100);
  color: white;
}

.auth-links a:active {
  background-color: var(--blue-300);
}

.copyright {
  margin-top: auto;
  color: gray;
  font-size: 0.9rem;
}

/* ------------------------ MOBILE STYLES ----------------------------------- */

@media screen and (max-width: 1024px) {
  .mobile-nav {
    display: flex;
  }
}

@media screen and (max-width: 640px) {
  .auth-links {
    display: flex;
  }
}
