.post-form {
  width: 100%;
  height: fit-content;
  border: solid 1px #ddd;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.post-form h2 {
  border-bottom: solid 1px #ddd;
  padding: 1rem;
}

.post-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.post-form .thumbnail {
  width: 100%;
  aspect-ratio: 2.5;
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  cursor: pointer;
}

.post-form .thumbnail .overlay {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.post-form .thumbnail:hover img {
  scale: 1.05;
}

.post-form .thumbnail:hover .overlay {
  opacity: 1;
}

.post-form label {
  color: #666;
  font-weight: 600;
  width: fit-content;
}

.post-form .input-group > p {
  color: #666;
  font-weight: 600;
  width: fit-content;
}

.post-form :is(input, textarea, select) {
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: solid 1px #ddd;
  font-size: 0.9rem;
  font-weight: 600;
  color: inherit;
}

.post-form input::placeholder {
  color: #aaa;
}

.post-form .input-group.tags {
  flex: 2;
}

.post-form :is(input, textarea, select):focus-visible {
  border-color: var(--blue-100);
}

.post-form section {
  display: flex;
  gap: 1rem;
}

.post-form select {
  font: inherit;
}

.checkbox-input-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.post-form .actions {
  display: flex;
  gap: 1rem;
}

.post-form button {
  flex: 1;
  padding: 0.5rem;
  background-color: #eee;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
  border: solid 1px #ddd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.post-form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.post-form button:hover {
  background-color: #ddd;
  border-color: #ccc;
}

.post-form button.submit {
  color: white;
  background-color: var(--blue-100);
  border: none;
}

.post-form button.submit:hover {
  background-color: var(--blue-200);
}

.error {
  color: var(--red-100);
  font-size: 14px;
}

/* ------------------------ MOBILE STYLES ----------------------------------- */

@media screen and (max-width: 640px) {
  .post-form section {
    flex-direction: column;
  }
}
