.recent-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.blog {
  display: flex;
  gap: 1rem;
}

.blog:first-child {
  grid-row: span 3;
  flex-direction: column;
}

.blog:first-child .text {
  flex: 0;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  flex: 1;
  border-radius: 0.125rem;
  aspect-ratio: 16/9;
}

.image-container:hover + .text .title {
  text-decoration: underline;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2rem;
}

.title:hover {
  text-decoration: underline;
}

.metadata {
  font-size: 0.8rem;
  font-weight: 500;
  color: #444;
}

.author:hover {
  text-decoration: underline;
  color: var(--blue-100);
}

.category {
  font-size: 12px;
  font-weight: normal;
  border: solid 0.1rem #444;
  color: #444;
  border-radius: 999px;
  padding: 0.2rem 0.5rem;
  text-transform: capitalize;
}

.category:hover {
  /* background-color: var(--muted); */
  background-color: #222;
  color: white;
}

@media screen and (max-width: 1024px) {
  .blog:first-child {
    grid-row: span 1;
  }

  .blog {
    flex-direction: column;
  }

  .blog .image-container {
    flex: none;
  }
}

@media screen and (max-width: 768px) {
  .blog .text {
    flex: none;
  }
}
