.search-blog {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  color: #333;
}

.image-container {
  position: relative;
  aspect-ratio: 15/9;
  border-radius: 0.25rem;
  overflow: hidden;
}

.image-container > img {
  object-fit: cover;
}

.search-blog:hover .image-container img {
  scale: 1.1;
}

.blog-title {
  font-size: min(max(1rem, 2vw), 1.3rem);
  font-weight: 700;
}

.search-blog:hover .blog-title {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.search-blog > p {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(0.7rem + 0.25vw);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
