.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #333;
}

.no-results p {
  color: #666;
  font-weight: 600;
}

/* ------------------------ MOBILE STYLES ----------------------------------- */

@media screen and (max-width: 640px) {
  .search-results {
    grid-template-columns: 1fr;
  }
}
