.signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signup-form label {
  color: #666;
}

.signup-form input {
  margin-bottom: 0.75rem;
  padding: 0.75rem;
  border: solid 1px #ddd;
  border-radius: 0.25rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.actions a {
  text-decoration: underline;
}

.actions a:hover {
  color: var(--blue-100);
}

.actions p {
  font-weight: 600;
  color: #666;
}

.signup-form button {
  background-color: var(--blue-100);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

.signup-form button:hover {
  background-color: var(--blue-200);
}

.signup-form button:active {
  scale: 0.95;
}

/* ------------------------ MOBILE STYLES ----------------------------------- */
@media screen and (max-width: 640px) {
  .actions {
    flex-direction: column;
    align-items: stretch;
  }

  .actions p {
    font-size: 0.9rem;
  }
}
