@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --blue-100: #2163e8;
  --blue-200: #1c54c5;
  --blue-300: #1a4fba;
  --light-blue-100: #f0f5ff;
  --light-blue-200: #99bbff;
  --red-100: #e32636;
  --red-200: #ce202e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition-duration: 300ms;
  outline: none;
}

a {
  transition-duration: 200ms;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "nunito sans";
}

main {
  flex: 1;
  width: 90%;
  max-width: 80rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  display: grid;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.logo {
  font-weight: 600;
  color: #333;
}

a {
  color: inherit;
}

input,
textarea {
  font-family: inherit;
}

/* React Quill styles */

.quill {
  display: flex;
  flex-direction: column;
}

.ql-container.ql-snow {
  flex: 1;
  display: flex;
}

.ql-editor.ql-blank {
  flex: 1;
}

img {
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  main {
    width: 92.5%;
  }
}
