:root {
  --blue-100: #256af4;
  --blue-200: #1c54c5;
  --blue-300: #1a4fba;
  --light-blue-100: #f0f5ff;
  --light-blue-200: #99bbff;
  --red-100: #f43f5e;
  --red-200: #e11d48;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition-duration: 300ms;
  outline: none;
}

svg {
  transition-duration: 0ms;
}

a,
button {
  transition-duration: 200ms;
}

p {
  line-height: 1.2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #262626;
  font-size: 14px;
}

main {
  flex: 1;
  width: 90%;
  max-width: 80rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  display: grid;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.logo {
  font-weight: 600;
  color: #333;
}

a {
  color: inherit;
}

input,
textarea {
  font-family: inherit;
}

/* React Quill styles */

.quill {
  display: flex;
  flex-direction: column;
}

.ql-container.ql-snow {
  flex: 1;
  display: flex;
}

.ql-editor.ql-blank {
  flex: 1;
}

img {
  object-fit: cover;
}

@media screen and (max-width: 640px) {
  main {
    width: 92.5%;
  }
}
