:root {
  --blue-100: #2163e8;
  --blue-200: #1c54c5;
  --blue-300: #1a4fba;
  --light-blue-100: hwb(220 90% 0%);
  --light-blue-200: hsl(220, 100%, 80%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition-duration: 300ms;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 95%;
  max-width: 80rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.logo {
  font-weight: 600;
  color: #333;
}

a {
  color: inherit;
}
