.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.login-page h1 {
  color: #333;
  font-size: min(max(1.25rem, 2.5vw), 1.5rem);
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border: solid 1px #f6f6f6;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 440px;
}

.form-container > form:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  position: relative;
}

.divider > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem;
  background-color: white;
  font-weight: 500;
  color: #666;
}

.divider > hr {
  border-style: dashed;
  border-color: #aaa;
}

.demo-signin-button {
  background-color: var(--blue-100);
  color: white;
  font: bold;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 14px;
  width: 100%;
}

.demo-signin-button:hover {
  background-color: var(--blue-200);
}

/* ------------------------ MOBILE STYLES ----------------------------------- */
@media screen and (max-width: 640px) {
  .form-container {
    padding: 1rem;
    width: 100%;
  }
}
